html{
    height: 100%;
}
body{
    box-sizing: border-box;
    background: rgba(237,234,242,1);
background: -moz-linear-gradient(top, rgba(237,234,242,1) 0%, rgba(237,234,242,1) 29%, rgba(192,189,195,1) 49%, rgba(192,189,195,1) 50%, rgba(119,117,121,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,234,242,1)), color-stop(29%, rgba(237,234,242,1)), color-stop(49%, rgba(192,189,195,1)), color-stop(50%, rgba(192,189,195,1)), color-stop(100%, rgba(119,117,121,1)));
background: -webkit-linear-gradient(top, rgba(237,234,242,1) 0%, rgba(237,234,242,1) 29%, rgba(192,189,195,1) 49%, rgba(192,189,195,1) 50%, rgba(119,117,121,1) 100%);
background: -o-linear-gradient(top, rgba(237,234,242,1) 0%, rgba(237,234,242,1) 29%, rgba(192,189,195,1) 49%, rgba(192,189,195,1) 50%, rgba(119,117,121,1) 100%);
background: -ms-linear-gradient(top, rgba(237,234,242,1) 0%, rgba(237,234,242,1) 29%, rgba(192,189,195,1) 49%, rgba(192,189,195,1) 50%, rgba(119,117,121,1) 100%);
background: linear-gradient(to bottom, rgba(237,234,242,1) 0%, rgba(237,234,242,1) 29%, rgba(192,189,195,1) 49%, rgba(192,189,195,1) 50%, rgba(119,117,121,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeaf2', endColorstr='#777579', GradientType=0 );
}
.text-center{
    text-align: center;
}
.brd{
    border-radius: 50px !important;
    width: 300px;
    text-transform: initial;
}
.under{
    text-transform: underline;
}
:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

/*slider*/
.slick-list.draggable {
    padding-bottom: 20px;
}
ul.slick-dots {
    width: 30%;
    margin: 20px auto 50px;
    text-align: center;
    position: relative;
}

.slick-slider {
    margin: auto;
    text-align: center;
}

.img-carrousel img{
    max-height: 100%;
    display: inline;
    /* margin-bottom: 38px; */
    max-width: 300px;
}
/*slider*/

#btns-registro{
    display: none;
}

.registro .text-center p{
    display: inline;
    color: #ffffff;
    font-size: 48px;
    font-weight: bold;
}

.btn-registro{
    width: 70%;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 3px; 
}

.btn-social{
    margin: 15px 10px;
    text-align: center;
}

.logotipo{
    display: flex;
    align-items: center;
}

.logotipo p{
    display: inline;
    color: #ffffff;
    font-size: 48px;
    font-weight:bold;
}

.img-logo{
    width: 78px;
    height: 78px;
}

.text-center p{
    margin-bottom: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sect1{
    padding: 0px 35px;
    text-align: center;
}

.slick-dots{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.slick-dots li.slick-active button:before{
    color: #999;
}

.slick-dots li button:before{
    font-size: 1.5rem;
    color: white;
    opacity: 1;
}

/* .slick-track {
    display: flex;
}
.slick-track .slick-slide {
    flex-direction: column;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
  } */

  @media only screen and (max-width: 480px) {
    .img-carrousel img{
        width: 100%;
    }
  }


  /*Welcome*/
  body > .welcome{
      background-color: #DAF9FB !important;
  }
