    .card .card-action{
        font-size: 16px !important;
    }

    .green.accent-4.acount{
        background-color: transparent !important;
        border: 3px solid #F24632;
        height: 45px;
        color: #ffffff;
    }
  #google1 , #facebook{
      height: 45px;
  }

  #info{
      display: none;
  }

  #confianza{
      display: none;
  }

  #verificacion{
      display: none;
  }

  #contacto{
      display: none;
  }

  .tlogo .row{
      margin-bottom: 0;  }