html{
    box-sizing: border-box;
    margin: 0px;
    height: 100vh;
    /* background: rgba(218,249,251,0.61);
    background: -moz-linear-gradient(-45deg, rgba(218,249,251,0.61) 0%, rgba(90,182,193,0.8) 49%, rgba(90,182,193,0.81) 50%, rgba(90,182,193,0.89) 71%, rgba(90,182,193,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(218,249,251,0.61)), color-stop(49%, rgba(90,182,193,0.8)), color-stop(50%, rgba(90,182,193,0.81)), color-stop(71%, rgba(90,182,193,0.89)), color-stop(100%, rgba(90,182,193,1)));
    background: -webkit-linear-gradient(-45deg, rgba(218,249,251,0.61) 0%, rgba(90,182,193,0.8) 49%, rgba(90,182,193,0.81) 50%, rgba(90,182,193,0.89) 71%, rgba(90,182,193,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(218,249,251,0.61) 0%, rgba(90,182,193,0.8) 49%, rgba(90,182,193,0.81) 50%, rgba(90,182,193,0.89) 71%, rgba(90,182,193,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(218,249,251,0.61) 0%, rgba(90,182,193,0.8) 49%, rgba(32, 115, 124, 0.81) 50%, rgba(90,182,193,0.89) 71%, rgba(90,182,193,1) 100%);
    background: linear-gradient(135deg, rgba(218,249,251,0.61) 0%, rgba(90,182,193,0.8) 49%, rgba(90,182,193,0.81) 50%, rgba(90,182,193,0.89) 71%, rgba(90,182,193,1) 100%); */
    background-color: rgb(218, 249, 251);
}
body{
    height: 100%;
}
.text-center{
    text-align: center;
}
.brd{
    border-radius: 50px !important;
    width: 300px;
    text-transform: initial;
}
:focus {
    outline: -webkit-focus-ring-color auto 0px;
}
p{
    margin-top: 0px;    
    margin-bottom: 8px;
}
p.font-weight-bold {
    font-weight: 700;
    font-size: 21px !important;
}
.slick-slide p{
    line-height: 23px;
    width: 80%;
    margin: auto;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.slick-list.draggable {
    padding-bottom: 20px !important;
}
ul.slick-dots {
    width: 30%;
    margin: 0px auto 0px;
    text-align: center;
    position: relative;
    padding-bottom: 18px;

}
.slick-dots li.slick-active button:before {
    color: #f24632 !important;
    opacity: 1;
}

.slick-slider {
    margin: auto;
    text-align: center;
}

.img-carrousel img{
    max-height: 100%;
    display: inline;
    /* margin-bottom: 38px; */
    max-width: 300px;
}

.registro{
    height: 100vh;
}
#btns-registro{
    display: none;
}

.registro .text-center p{
    display: inline;
    color: #ffffff;
    font-size: 48px;
    font-weight: bold;
}

.btn-registro{
    width: 70%;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 3px; 
}

.btn-social{
    margin: 15px 10px;
    text-align: center;
}

.tlogo{
    text-align: center;
    padding: 20px 0 0;
    border-bottom: 6px solid #76C5CE;
}

.logotipo{
    display: inline-flex;
    align-items: center;
}

.logotipo p{
    display: inline;
    color: #ffffff;
    font-size: 48px;
    font-weight:bold;
}

.img-logo{
    width: 78px;
    height: 78px;
    margin-right: 10px;
}

.text-center p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sect1{
    padding: 0px 10px;
    text-align: center;
}

.slick-dots{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.slick-dots li.slick-active button:before{
    color: #999;
}

.slick-dots li button:before{
    font-size: 1.5rem;
    color: white;
    opacity: 1;
}

/* .slick-track {
    display: flex;
}
.slick-track .slick-slide {
    flex-direction: column;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
  } */

 

  .slick-dotted.slick-slider{
      margin-bottom: 0px;
  }

  .green.accent-4{
      background-color: #F24632 !important;
      font-size: 16px;
  }

  .slick-list.draggable{
      padding-bottom: 0px;
  }


  /*info -
  */
  .info{
    color: #4D4D4D !important;
    background-color: #DAF9FB;
  }
  .info .logotipo p{
    color: #4D4D4D !important; 
  }
  @media only screen and (max-width: 480px) {
    .brd{width: 100%;}
    .img-carrousel img{
        width: 80%;
    }
  }